@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #0F101A;
    --foreground: #FBF5F3;

    --card: #2D304E;
    --card-foreground: #FBF5F3;

    --popover: #0F101A%;
    --popover-foreground: #FBF5F3;

    --primary: #FBF5F3;
    --primary-foreground: #0F101A;

    --secondary: #2D304E;
    --secondary-foreground: #FBF5F3;

    --muted: #0F101A;
    --muted-foreground: #FBF5F3;

    --accent: #FF669A;
    --accent-foreground: #FBF5F3;

    --destructive: #fca5a5;
    --destructive-foreground: #FBF5F3;

    --border: #0F101A;
    --input: #0F101A;
    --ring: #0F101A;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

